.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 120px;
  height: 120px;
  /* background-image: url("./assets/1200px-Grey_background.jpg"); */
}

.content {
  width: 75px;
  height: 75px;
  margin: 10px;
  background-image: url("../../assets/1200px-Grey_background.jpg");
}

.content > img {
  width: 100%;
  height: 100%;
  border: 50%;
}

h3 {
  margin: 1px;
}
.btn-grp {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 625px;
  height: 50px;
  position: fixed;
  bottom: 0;
  /* background-color: red; */
}
.btn {
  width: 250px;
  height: 50px;
  border: none;
}
#new-btn {
  background-color: greenyellow;
  color: white;
}
#del-btn {
  background-color: red;
  color: white;
}
.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.top-div {
  height: 35px;
  width: 100%;
  background-color: #999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px; */
}

.home-title {
  height: 100%;
  width: 30px;
  background-color: navy;
  color: white;
  padding-left: 5px;
}

.home-close-btn {
  padding-right: 5px;
  height: 100%;
}
@media screen and (max-width: 640px) {
  .main {
    overflow-x: hidden;
  }
  .btn-grp {
    width: 100%;
    position: fixed;
    bottom: 0;
    overflow-x: hidden;
  }
}
