.src-container {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

/* animated searchbar */
.search {
  margin-top: 10px;
  position: relative;
  left: 500px;
  width: 45px;
  height: 45px;
  background-color: #fff;
  border-radius: 60px;
  transition: 0.5s;
  /* box-shadow: 0 0 0 3px blue; */
  overflow: hidden;
  display: flex;
  align-items: center;
}
.search.actives {
  width: 380px;
}
.search.right {
  position: relative;
  left: 0px;
}
.search .icon {
  position: absolute;
  top: 0;
  left: 0;
  width: 35px;
  height: 35px;
  border-radius: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
  cursor: pointer;
}

.search .input {
  position: relative;
  width: 300px;
  height: 35px;
  left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  border: none;
  outline: none;
}

.search .input input {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  align-content: center;
  font-size: 18px;
}
.title {
  display: inline-block;
  margin-left: 10px;
}
.clear {
  position: absolute;
  top: 40%;
  transform: translate(-50%);
  width: 15px;
  height: 15px;
  right: 15px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.hide {
  display: none;
}

/* Responsiveness */

@media screen and (max-width: 640px) {
  .src-container {
    width: 100vw;
    display: flex;
    /* justify-content: center; */
    align-items: center;
  }
  .search {
    position: relative;
    left: 300px;
    overflow-x: hidden;
  }
  .search.actives {
    position: sticky;
    left: 20px;
    width: 360px;
    overflow-x: hidden;
  }
  .clear {
    position: absolute;
    right: 20px;
  }
}
